<style>
        .header-container {
        background-color: forestgreen;
    }
    h1 {
        color: white;
    }
    .nav-container {
        background-color: forestgreen;
    }
    .nav-links {
        color: white;
    }
    .nav ul{
        color: black;
        background-color: ghostwhite;
    }
    footer{
        color: aliceblue;
        background-color: forestgreen;
    }
    </style>